main {
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 89px;
}

.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    text-decoration: underline;
    text-underline-position: under;
}

.header__link_active {
    text-decoration: none;
}

.text-link:hover {
    background-color: #000;
    color: #fff;
}

.header__logo {
    display: block;
    justify-self: center;
    width: 140px;
}

.header__address {
    justify-self: end;
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 165px 50px 50px;
    margin-bottom:60px;
}

.cover .overlay {
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 0.45;
    z-index: 0;
}

.cover__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: #fff;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    letter-spacing: 30px;
}

.aligned-text_right {
    text-align: right;
    letter-spacing: 30px;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
    padding-top: 106px;
}

.cover__description-text {
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid #fff;
    padding: 14px 32px;
    background: transparent;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

    .bet-button:hover {
        background: #fff;
        color: #000;
    }

.lots {
    padding: 0 50px;
}

.lots__heading {
    padding: 0 0 30px 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    height: 100%;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

    .card .overlay {
        position: absolute;
        inset: 0;
        background-color: #000;
        opacity: 0.45;
        z-index: 0;
    }

.card__title,
.card__text {
    position: relative;
    z-index: 1;
    color: #fff;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    font-size: 20px;
    line-height: 1.2;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    display: block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-position: under;
    width: fit-content;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px;
}

.about__column {
    justify-self: center;
    padding-top: 35px;
}

.about__column_text {
    grid-column: 2 / 4;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    padding: 100px 0 104px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 693px;
}

    .about__text p {
        font-size: 20px;
        line-height: 1.35;
    }

.footer {
    display: flex;
    justify-content: space-between;
    padding: 180px 50px 80px;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__menu-link {
    font-size: 18px;
    text-decoration: underline;
    text-underline-position: under;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    height: 48px;
}
